
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.deps.json
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.dll
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.pdb
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.runtimeconfig.dev.json
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.runtimeconfig.json
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.Views.dll
MasteringAzure/bin/Debug/netcoreapp2.1/MasteringAzure.Views.pdb
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.deps.json
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.dll
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.pdb
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.runtimeconfig.dev.json
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.runtimeconfig.json
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.Views.dll
MasteringAzure/bin/Release/netcoreapp2.1/MasteringAzure.Views.pdb
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.AssemblyInfo.cs
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.AssemblyInfoInputs.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.assets.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.csproj.CopyComplete
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.csproj.CoreCompileInputs.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.csproj.FileListAbsolute.txt
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.csprojAssemblyReference.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.dll
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.pdb
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.RazorAssemblyInfo.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.RazorAssemblyInfo.cs
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.RazorCoreGenerate.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.RazorTargetAssemblyInfo.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.RazorTargetAssemblyInfo.cs
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.TagHelpers.input.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.TagHelpers.output.cache
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.Views.dll
MasteringAzure/obj/Debug/netcoreapp2.1/MasteringAzure.Views.pdb
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
MasteringAzure/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
MasteringAzure/obj/MasteringAzure.csproj.nuget.cache
MasteringAzure/obj/MasteringAzure.csproj.nuget.dgspec.json
MasteringAzure/obj/MasteringAzure.csproj.nuget.g.props
MasteringAzure/obj/MasteringAzure.csproj.nuget.g.targets
MasteringAzure/obj/project.assets.json
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.AssemblyInfo.cs
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.AssemblyInfoInputs.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.assets.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.csproj.CopyComplete
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.csproj.CoreCompileInputs.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.csproj.FileListAbsolute.txt
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.dll
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.pdb
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.RazorAssemblyInfo.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.RazorAssemblyInfo.cs
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.RazorCoreGenerate.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.RazorTargetAssemblyInfo.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.RazorTargetAssemblyInfo.cs
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.TagHelpers.input.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.TagHelpers.output.cache
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.Views.dll
MasteringAzure/obj/Release/netcoreapp2.1/MasteringAzure.Views.pdb
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.Development.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Connected Services/Application Insights/ConnectedService.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.deps.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.pdb
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.runtimeconfig.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.Views.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/MasteringAzure.Views.pdb
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AI.DependencyCollector.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AI.PerfCounterCollector.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AI.ServerTelemetryChannel.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AI.WindowsServer.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.ApplicationInsights.AspNetCore.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.ApplicationInsights.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.Extensions.PlatformAbstractions.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Extensions.Logging.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Extensions.Logging.File.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Formatting.Compact.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Sinks.Async.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Sinks.File.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/Serilog.Sinks.RollingFile.dll
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/web.config
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/css/site.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/css/site.min.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/favicon.ico
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/images/banner1.svg
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/images/banner2.svg
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/images/banner3.svg
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/js/site.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/js/site.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/.bower.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css.map
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css.map
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/npm.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/bootstrap/LICENSE
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/.bower.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery-validation/LICENSE.md
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery/.bower.json
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.js
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.map
MasteringAzure/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/lib/jquery/LICENSE.txt
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
MasteringAzure/obj/Release/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide-wal
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide-shm
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide
.vs/MasteringAzure/v16/Server/sqlite3/db.lock
.vs/MasteringAzure/v16/.suo
.vs/MasteringAzure/config/applicationhost.config
