
MasteringAzure/bin/*
MasteringAzure/obj/*
MasteringAzure/node_modules/*
MasteringAzure/Logs
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide-wal
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide-shm
.vs/MasteringAzure/v16/Server/sqlite3/storage.ide
.vs/MasteringAzure/v16/Server/sqlite3/db.lock
.vs/MasteringAzure/v16/.suo
.vs/MasteringAzure/config/applicationhost.config
